<footer>
  <ul>
    <li>
      <h1>A<span id="jj">jj</span>ir</h1>
      <p>
        Ajjir is an online store dealing with all product <br />
        Ajjir provides cheap, high quality, products for Renting
      </p>
    </li>
    <li>
      <h4>Overview</h4>
      <p>
        Home<br />
        Products<br />
        Categories
      </p>
    </li>
    <li>
      <h4>Explore Us</h4>
      <p>
        Our Career<br />
        Privacy<br />
        Terms & Conditions
      </p>
    </li>
    <li>
      <h4>Contact Us</h4>
      <p>
        support@Ajjir.com<br />
        050-265-2239<br />
        Talkha City
      </p>
    </li>
  </ul>
  <p id="copyright">
    Copyright 2023 • All Rights Reserved <span id="jj">Ajjir</span> by
    <span id="xzero">xZero</span>
  </p>
</footer>
