<div id="money-overlay">
  <form method="POST" class="money-container">
    <label for="money" class="money-title">Enter the amount of money you want to add</label>
    <input type="number" name="money" id="money-input" maxlength="4" class="money-amount">
    <div class="money-buttons">
      <button class="btn" id="add-money-btn">Add</button>
      <button class="btn" id="cancel-overlay">Cancel</button>
    </div>
  </form>
</div>