<header>
    <nav>
      <ul>
        <section class="nav-items"><li><h1><a href="/">A<span id="jj">jj</span>ir</a></h1></li></section>

        <section class="nav-items" id="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/products">Products</a></li>
          <li><a href="#">Categories</a></li>
        </section>

        <section class="nav-items">
          <li>
            <% if(!locals.isAuth){ %>
              <a class="btn" href="/login">Login</a>
              <a class="btn" href="/signup">Register</a>
            <% } %>
            <% if(locals.isAuth){ %>
              <div id="auth">
                <% if (!(pageTitle === 'Profile')) { %>
                  <form action="/profile/<%= id %>" method="GET" id="profile"><button class="btn">Profile <img src="/icons/profile.svg" alt="profile"></button></form>
                <% } %>
                <form action="/logout" method="POST"><button class="btn" id="logout">Logout</button></form>
              </div>            
            <% } %>
          </li>
        </section>
      </ul>
    </nav>
  </header>