<article class="product-item">
  <div>
    <img src="<%= product.imageUrl %>" alt="<%= product.name %>" />
  </div>
  <div class="product-item-content">
    <div id="prod-name">
      <h2><%= product.name %></h2>
      <p>Available</p>
    </div>
    <div class="product-item-prices">
      <ul>
        <li>
          <h3>
            <%= product.price %> EGP/Day
          </h3>
        </li>
        <li>
          <p>50<br><span>Week</span></p>
        </li>
        <li>
          <p>150<br><span>Month</span></p>
        </li>
        <li>
          <p>400<br><span>Year</span></p>
        </li>
      </ul>      
    </div>
  </div>
</article>