<article>
  <div>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star-half-o"></span>
    <span class="fa fa-star"></span>
    <span id="rate">3.7</span>
  </div>
  <p>This is a review with bad review or good review it rly doesn't matter</p>
</article>
