* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  --color-yellow-100: #ffd369;
  --color-yellow-300: #f5be3f;
  --color-gray-100: #eeeeee;
  --color-gray-400: #686a6d;
  --color-gray-500: #667085;
  --color-gray-800: #393E46;
  --color-gray-900: #2E333C;
  --color-black: #222831;

  --color-helpers: #999080;

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 15);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 10px;
}

body {
  min-height: 100rem;
  min-width: 94rem;
  max-width: 100rem;
  background-image: url("../images/background.png");
  color: var(--color-gray-100);
  margin: auto;
}

main {
  width: 90%;
  /* max-width: 50rem; */
  margin: 0 auto;
}

h1 {
  font-weight: lighter;
  font-size: 70px;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-gray-100);
}

.btn {
  cursor: pointer;
  font: inherit;
  width: 80%;
  padding: 0.35rem;
  background-color: var(--color-yellow-100);
  color: var(--color-black);
  border: 1px solid var(--color-yellow-100);
  border-radius: var(--border-radius-small);
}

.btn:hover,
.btn:active {
  background-color: var(--color-yellow-300);
  border-color: var(--color-yellow-300);
}



/* Footer */

footer {
  /* position: absolute; */
  margin-top: 2rem;
  top: 90rem;
  min-width: 94.89rem;
  background-color: var(--color-black);
  text-align: left;
}

footer h1 {
  font-size: 90px;
}

footer ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

footer p {
  margin: 0;
  color: var(--color-helpers);
}

#copyright {
  text-align: center;
}

#jj {
  color: var(--color-yellow-100);
}

#xzero {
  color: var(--color-gray-100);
}
