* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  --color-yellow-100: #ffd369;
  --color-yellow-300: #f5be3f;
  --color-gray-100: #eeeeee;
  --color-gray-400: #686a6d;
  --color-gray-500: #667085;
  --color-black: #222831;

  --color-helpers: #999080;

  --color-error-100: rgb(255, 192, 180);
  --color-error-500: rgb(199, 51, 15);

  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-4: 1rem;
  --space-6: 1.5rem;
  --space-8: 2rem;

  --border-radius-small: 4px;
  --border-radius-medium: 6px;
  --border-radius-large: 10px;
}

body {
  background-image: url("../images/background.png");
  color: var(--color-gray-100);
  margin: 0;
}

main {
  width: 90%;
  /* max-width: 50rem; */
  margin: 0 auto;
}

h1 {
  font-weight: lighter;
  font-size: 70px;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-gray-100);
}

.btn {
  cursor: pointer;
  font: inherit;
  width: 80%;
  padding: 0.35rem;
  background-color: var(--color-yellow-100);
  color: var(--color-black);
  border: 1px solid var(--color-yellow-100);
  border-radius: var(--border-radius-small);
}

.btn:hover,
.btn:active {
  background-color: var(--color-yellow-300);
  border-color: var(--color-yellow-300);
}

footer {
  background-color: var(--color-black);
  text-align: left;
}

footer p {
  margin: 0;
  color: var(--color-helpers);
}

#copyright {
  text-align: center;
}

#xzero {
  color: var(--color-gray-100);
}
