<%- include('../shared/includes/head', { pageTitle: 'Show Product' }) %>
<link rel="stylesheet" href="/styles/landing.css">
<link rel="stylesheet" href="/styles/show-profile.css">
<link rel="stylesheet" href="/styles/new-product.css">
<link rel="stylesheet" href="/styles/forms.css">

<link
      href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css"
      rel="stylesheet"
    />

<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
<script src="/scripts/map.js" defer></script>

</head>
<body>
  <%- include('../shared/includes/nav', {pageTitle: 'Add New Product', id: locals.uid}) %>
  <main>
    <h2>Rental Terms</h2>
    <div id="form-and-map">
      <form action="/rental-terms/<%= product.id %>" method="post" class="forms">
      <p>
          <input type="hidden" id="lng" name="longitude">
      </p>
      <p>
          <input type="hidden" id="lat" name="latitude">    
      </p>
  
      
      <button class="btn">send reqeust</button>   
    </form>
    <div>
        <pre id="info"></pre>
        <div id="map"></div>
    </div>
    </div>
</main>
  <%- include('../shared/includes/footer') %>
</body>
</html>