<%- include('../shared/includes/head', { pageTitle: 'Show Product' }) %>
<link rel="stylesheet" href="/styles/landing.css">
<link rel="stylesheet" href="/styles/show-profile.css">
<link rel="stylesheet" href="/styles/new-product.css">
<link rel="stylesheet" href="/styles/forms.css">


</head>
<body>
  <%- include('../shared/includes/nav', {pageTitle: 'Add New Product', id: locals.uid}) %>
  <main>
    <h2>Rental Terms</h2>
    <button>accept</button>
    <button>reject</button>

</main>
  <%- include('../shared/includes/footer') %>
</body>
</html>