<%- include('../shared/includes/head', {pageTitle : 'Home'}) %>
<link rel="stylesheet" href="/styles/landing.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <section class="nav-items"><li><h1><a href="#">A<span>jj</span>ir</a></h1></li></section>

        <section class="nav-items" id="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
        </section>

        <section class="nav-items">
          <li>
            <a class="btn" href="#">Login</a>
            <a class="btn" href="#">Register</a>
          </li>
        </section>
      </ul>
    </nav>
  </header>
  <main>
    <ul id="description">
      <li id="content">
        <h2>Best Place to Rent <div><span>Everything.</span></div></h2>
        <p>At Ajjir, you can rent all tools you need.</p>
        <button class="btn">Rent Now</button>
      </li>
      <li id="img"><img src="/images/tools.png" alt="tools"></li>
    </ul>
    <section></section>
    <section></section>
  </main>
</body>
</html>