<%- include('../shared/includes/head' , {pageTitle: 'Home'}) %>
<link rel="stylesheet" href="/styles/landing.css">
<script src="/scripts/notification.js" defer></script>
</head>
<body>
  <!-- <div id="backdrop"></div> -->
  <%- include('../shared/includes/nav', {pageTitle: 'Home', id: locals.uid}) %>
  <main>
    <!-- <aside class="model">
      <h2>You are not authenticated!</h2>
      <p>You have to log in first to add items.</p>
      <form>
        <div>
          <a href="/login" class="btn">Log in</a>
          <a href="/" class="btn btn-alt">Cancel</a>
        </div>
      </form>
    </aside> -->
    <section>
      <ul id="description">
        <li id="content">
          <h2>Best Place to Rent <br><span id="jj">Everything.</span></h2>
          <p>At Ajjir, you can rent all tools you need.</p>
          <div id="new-prod">
            <a class="btn" href="/products">Rent Now</a>
            <form action="/products/new" method="get">
              <button class="btn">Add Your Products</button>
            </form>
          </div>
        </li>
        <li><img src="/images/toolkit.png" alt="toolkit" id="toolkit"></li>
      </ul>
    </section>
    <section id="categories">
      <h3>Browse Categories</h3>
      <ul>
          <li id="plumbing"><img src="/images/plumbing.png" alt="plumbing"></li>
          <li id="carpentry"><img src="/images/carpentry.png" alt="carpentry"></li>

          <li id="sewing"><img src="/images/sewing.png" alt="sewing"></li>
          <li id="tools"><img src="/images/tools.png" alt="tools"></li>
      </ul>
    </section>
    <section id="choose-ajjir">
      <h3>Why use <span id="ajjir">A<span id="jj">jj</span>ir</span> ?</h3>
      <ul>
        <li>
          <img src="/icons/delivery.svg" alt="delivery">
          <p>Fast Delivery</p>
        </li>
        <li>
          <img src="/icons/trusted.svg" alt="trusted">
          <p>Trusted Platform</p>
        </li>
        <li>
          <img src="/icons/for-you.svg" alt="for-you">
          <p>Here For You</p>
        </li>
      </ul>
    </section>
  </main>
  <%- include('../shared/includes/footer') %>
</body>
</html>