<%- include('../shared/includes/head', {pageTitle : 'Home'}) %>
<link rel="stylesheet" href="/styles/landing.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <section class="nav-items"><li><h1><a href="#">A<span id="jj">jj</span>ir</a></h1></li></section>

        <section class="nav-items" id="nav">
          <li><a href="#">Home</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Categories</a></li>
        </section>

        <section class="nav-items">
          <li>
            <a class="btn" href="#">Login</a>
            <a class="btn" href="#">Register</a>
          </li>
        </section>
      </ul>
    </nav>
  </header>
  <main>
    <section>
      <ul id="description">
        <li id="content">
          <h2>Best Place to Rent <br><span id="jj">Everything.</span></h2>
          <p>At Ajjir, you can rent all tools you need.</p>
          <button class="btn">Rent Now</button>
        </li>
        <li><img src="/images/toolkit.png" alt="toolkit" id="toolkit"></li>
      </ul>
    </section>
    <section id="categories">
      <h3>Browse Categories</h3>
      <ul>
          <li id="plumbing"><img src="/images/plumbing.png" alt="plumbing"></li>
          <li id="carpentry"><img src="/images/carpentry.png" alt="carpentry"></li>

          <li id="sewing"><img src="/images/sewing.png" alt="sewing"></li>
          <li id="tools"><img src="/images/tools.png" alt="tools"></li>
      </ul>
    </section>
    <section id="choose-ajjir">
      <h3>Why use <span id="ajjir">A<span id="jj">jj</span>ir</span> ?</h3>
      <ul>
        <li>
          <img src="/icons/delivery.svg" alt="delivery">
          <p>Fast Delivery</p>
        </li>
        <li>
          <img src="/icons/trusted.svg" alt="trusted">
          <p>Trusted Platform</p>
        </li>
        <li>
          <img src="/icons/for-you.svg" alt="for-you">
          <p>Here For You</p>
        </li>
      </ul>
    </section>
  </main>
  <%- include('../shared/includes/footer') %>
</body>
</html>