<%- include('../shared/includes/head', { pageTitle: 'Add New Product' }) %>
<link rel="stylesheet" href="/styles/landing.css">
<link rel="stylesheet" href="/styles/show-profile.css">
<link rel="stylesheet" href="/styles/new-product.css">
<link rel="stylesheet" href="/styles/forms.css">
<script src="/scripts/image-preview.js" defer></script>
</head>
<body>
  <%- include('../shared/includes/nav', {pageTitle: 'Add New Product', id: locals.uid}) %>
  <main>
    <h1>Add new Product</h1>
    <%- include('../shared/includes/product-form', { submitPath: '/products', product: {
      name: '',
      price: '',
      description: '',
      maxDuration: '',
      category: '',
    },
    imageRequired: true}) %>
  </main>
<%- include('../shared/includes/footer') %>